
.bg{
    background-image:linear-gradient(to right,rgba(28, 90, 148, 0.952),rgba(40, 86, 147, 0.984));
    color: white;
    padding: 50px;
}
i{
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 8px;
}
.container-fluid {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}
.b{
    color:white !important;
    background-color:rgb(12, 233, 225) !important;
    border-radius: 20px !important;
    border-color:rgb(12, 233, 225) !important ;
}
.ul li a{
    color: white !important;
}
.head{
    font-size: 30px;
    font-weight: bold;
}
.body{
    font-size: 20px;
}
li{
    font-size: 15px;
}
.image{
    height: 400px;
    width: 450px;
    margin: 50px;
}
